.btn-add {
    font-size: 1rem;
    font-weight: 600;
}

.btn-add:hover{
    background-color: var(--nvblue);
    color: var(--mtgold);
}

.add-icon {
    stroke: var(--mtgold);
}

.task-table thead tr th {
    background-color: var(--nvblue);
    color: var(--mtgold);
}

.task-table tbody tr button:hover {
    background-color: var(--mtgold);
}

.table-divider {
    border-top: 4px solid var(--mtgold);
}

.add-task-label {
    font-weight: 700;
}